.hamburger {
    display: none;

    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    height: 12px;

    cursor: pointer;
    span {
        margin-bottom: 3px;
        
        display: block;

        height: 2px;
        width: 26px;
        background-color: #000;
    }
}

@media screen and (max-width: 768px) {
    .hamburger {
        display: block;
    }
}
