@media screen and (max-width: 1200px) {
    .leading {
        &__wrapper {
            grid-template-columns: minmax(auto, 445px) minmax(auto, 486px);
        }
    }
}

@media screen and (max-width: 992px) {
    .leading {
        &__wrapper {
            grid-template-columns: minmax(auto, 350px) minmax(auto, 400px);
        }
    }
}

@media screen and (max-width: 768px) {
    .leading {
        display: flex;
        justify-content: center;
        align-items: center;
        .divider {
            margin: 0 auto;
            margin-top: 26px;
        }
        &__wrapper {
            grid-template-columns: 1fr;
        }
        &__img {
            display: none;
        }
        &__title {
            text-align: center;
        }
        &__btn {
            margin: auto;
            margin-top: 30px;
        }
    }
}

@media screen and (max-width: 576px) {
    .leading {
        padding-top: 60px;
    }
}
