.promo {
    padding-top: 80px;

    &__wrapper {
        display: grid;
        grid-template-columns: minmax(auto, 445px) minmax(auto, 690px);
        justify-content: space-between;
        align-items: center;
    }
    &__descr {
        margin-top: 25px;

        max-width: 440px;
        
        font-weight: 300;
        font-size: 21px;
        line-height: 32px;
        color: #7d7987;
    }
    &__btn {
        margin-top: 45px;
    }
    &__img {
        max-width: 100%;
        min-height: 100%;
        img {
            max-width: 100%;
            min-height: 100%;
            object-fit: cover;
        }
    }
}

@import "./media";
